{#
/**
 * @file
 * HRPortalDEMO's theme implementation to display a Service node in teaser tile view mode.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('hrportaldemo/node-view-mode-teaser') }}
{{ attach_library('hrportaldemo/node-field') }}
  <article{{ attributes.addClass(classes) }}>

    {% if content.field_mt_srv_teaser_image|render %}
      {{ content.field_mt_srv_teaser_image }}
    {% endif %}

    {% if node.isSticky() or content.field_mt_srv_tags|render %}
      <div class="mb-3 node-category-wrapper">
        {% if node.isSticky() %}
          {% trans %}
            <div class="promoted-label mt-style-custom-all">Promoted</div>
          {% endtrans %}
        {% endif %}

        {% if content.field_mt_srv_tags|render %}
          {{ content.field_mt_srv_tags }}
        {% endif %}
      </div>
    {% endif %}


    {{ title_prefix }}
    {% if not page %}
      <h4{{ title_attributes.addClass("mt-0 node__title") }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h4>
    {% endif %}
    {{ title_suffix }}

    {% if display_submitted %}
      <footer class="node__meta">
        {{ author_picture }}
        <div{{ author_attributes.addClass('node__submitted') }}>
          {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
          {{ metadata }}
        </div>
      </footer>
    {% endif %}

    <div{{ content_attributes.addClass('node__content') }}>
      {{ content|without('field_mt_srv_teaser_image', 'field_mt_srv_tags') }}
    </div>

  </article>
