{#
/**
 * @file
 * HRPortalDEMO's theme implementation to display a Service node in teaser tile view mode.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('hrportaldemo/node-view-mode-teaser-tile-image') }}
<article{{ attributes.addClass(classes) }}>
  <div class="teaser-tile-image-container">
    {{ title_prefix }}
    {{ title_suffix }}
    {% if content.field_mt_pst_image|render %}
      {% block featured_post %}
        {{ content.field_mt_pst_image }}
      {% endblock %}
    {% endif %}
    
    <div class="teaser-tile-image-caption-top">
      {% if not page %}
        <h4{{ title_attributes.addClass("mt-0 mb-0") }}>
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h4>
      {% endif %}

      {% if display_submitted or content.field_mt_pst_category|render %}
        <div class="node__meta">
          {% if display_submitted %}
            {{ metadata }}
            <span class="node__meta-item">
              {{ node.createdtime|format_date('custom', 'M d, Y') }}
            </span>
          {% endif %}
          {% if content.field_mt_pst_category|render %}
            <span class="node__meta-item node__meta-tags">
              {{ content.field_mt_pst_category }}
            </span>
          {% endif %}
        </div>
      {% endif %}
    </div>

    <div class="teaser-tile-image-caption-bottom">
      {% if display_submitted %}
        <span{{ author_attributes.addClass('node__meta-user node__meta-item') }}>
          {{ author_name }}
        </span>
      {% endif %}
    </div>

  </div>
  <div{{ content_attributes.addClass('node__content') }}>
    {{ content|without('field_mt_pst_image', 'field_mt_pst_category') }}
  </div>

</article>
