{#
/**
 * @file
 * HRPortalDEMO's theme implementation to display a product node in media object view mode.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('hrportaldemo/node-view-mode-media-object') }}
<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="media">
    {% if content.field_mt_prd_image|render %}
      {{ content.field_mt_prd_image }}
    {% elseif highlight_image_styled_url %}
      <div class="field field--name-field-mt-prd-image field--type-image">
        <div class="images-container clearfix">
          <div class="image-preview clearfix">
            <div class="field__item">
              <div class="overlay-container">
                <div class="overlay overlay--colored">
                  <a class="overlay-target-link image-popup" href="{{ url }}"></a>
                </div>
                <img src="{{ highlight_image_styled_url }}" alt="{{ highlight_image_alt }}" title="{{ highlight_image_title }}">
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="media-body">
      {% if not page %}
        <h5{{ title_attributes.addClass("mt-0 node__title") }}>
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h5>
      {% endif %}

      {% if display_submitted %}
        <footer class="node__meta">
          {{ author_picture }}
          <div{{ author_attributes.addClass('node__submitted') }}>
            {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
            {{ metadata }}
          </div>
        </footer>
      {% endif %}

      <div{{ content_attributes.addClass('node__content') }}>
        {{ content|without('field_mt_prd_image', 'field_mt_prd_highlight') }}
      </div>

      {% trans %}
        <a class="mt-link-stylable d-none d-lg-inline-block mb-0" href="{{ url }}">Read more</a>
      {% endtrans %}

    </div>
  </div>

</article>
