{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{{ attach_library('flashyplus/detailed-pager') }}
{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if title %}
    {{ title }}
  {% endif %}
  {{ title_suffix }}
  {% if header %}
    <div class="view-header">
      {{ header }}
    </div>
  {% endif %}
  {% if attachment_before %}
    <div class="attachment attachment-before">
      {{ attachment_before }}
    </div>
  {% endif %}
  {% if exposed %}
    {{ attach_library('flashyplus/slideout-filters') }}
    <button class="mt-button slideout-filters-toggle d-lg-none"><i class="fas fa-filter mr-2"></i> {% trans %}Filters{% endtrans %}</button>
    <div class="row">
      <div class="col-lg-3">
        <div class="view-filters view-slideout-filters">
          <button class="mt-button slideout-filters-close-toggle d-lg-none"><i class="fas fa-times"></i></button>
          {{ exposed }}
        </div>
      </div>
  {% endif %}
  {% if exposed %}
      <div class="col-lg-9">
  {% endif %}
        {% if rows %}
          <div class="view-content">
            {{ rows }}
          </div>
        {% elseif empty %}
          <div class="view-empty">
            {{ empty }}
          </div>
        {% endif %}
        {% if pager|render|trim %}
          {% if pager['#theme'] and 'pager' in pager['#theme'] %}
            <div class="detailed-pager detailed-pager--bottom clearfix">
              {{ pager }}
            </div>
          {% else %}
            {{ pager }}
          {% endif %}
        {% endif %}
  {% if exposed %}
      </div>
    </div>
  {% endif %}
  {% if attachment_after %}
    <div class="attachment attachment-after">
      {{ attachment_after }}
    </div>
  {% endif %}
  {% if more %}
    {{ more }}
  {% endif %}
  {% if footer %}
    <div class="view-footer">
      {{ footer }}
    </div>
  {% endif %}
  {% if feed_icons %}
    <div class="feed-icons">
      {{ feed_icons }}
    </div>
  {% endif %}
</div>
