{#
/**
 * @file
 * HRPortalDEMO's theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - module: The module that provided this block plugin.
 *   - cache: The cache settings.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('hrpdemo/modal-block') }}
{%
  set classes = [
    'block',
    'block-type--mt-modal',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
{%
  set title_classes = [
    'title'
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass(title_classes) }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div{{ content_attributes.addClass('content') }}>
      <button type="button" class="modal-icon-button{{ (content.field_mt_modal_trigger_text|render) ? ' mt-button' : '' }}" data-toggle="modal" data-target="#block-id-{{ attributes.id }}">
        <i class="modal-icon {{ content['#block_content'].field_mt_modal_fa_icon['0'].style }} fa-{{ content['#block_content'].field_mt_modal_fa_icon['0'].icon_name }}"></i>
        {% if content.field_mt_modal_trigger_text|render %}
          <span class="ml-2">
            {{ content['#block_content'].field_mt_modal_trigger_text['0'].value }}
          </span>
        {% endif %}
      </button>
      <div class="modal fade" id="block-id-{{ attributes.id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            {{ content|without('field_mt_modal_fa_icon', 'field_mt_modal_trigger_text') }}
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
</div>
