{#
/**
 * @file
 * Directory+s's theme implementation to display internal banner slider of Listing node.
 */
#}

{% extends "page.html.twig" %}
{% block internal_banner %}
  {% if mt_shw_internal_banner|render or mt_display_submitted or page.hero_top  %}
    {{ attach_library('hrpdemo/banner-area') }}
    <div class="internal-banner-container {{(mt_shw_internal_banner|render) ? 'internal-banner-container--fullscreen' : ''}} {{ hero_top_background_color }}">
      {% if mt_shw_internal_banner|render %}
        {{ mt_shw_internal_banner }}
      {% endif %}
      {% if page.hero_top %}
        <div {% if hero_top_id %}id="{{ hero_top_id }}"{% endif %} class="clearfix hero-top d-flex align-items-end {{ (hero_top_blocks_paddings) ? ' region--no-block-paddings' : '' }}{{ (hero_top_region_paddings) ? ' region--no-paddings' : '' }}">
          <div class="internal-banner d-flex align-items-end {{(mt_shw_internal_banner|render) ? '' : 'internal-banner--plain' }}">
          {# hero-top #}
            <div class="{{ hero_top_layout_container }}">
              {# hero-top__container #}
              <div class="clearfix hero-top__container{{ (hero_top_animations == "enabled") ? ' mt-no-opacity' : '' }}"
                {% if hero_top_animations == "enabled" %}
                  data-animate-effect="{{ hero_top_animation_effect }}"
                {% endif %}>
                <div class="row">
                  <div class="col-12">
                    <div class="hero-top__section">
                      {{ page.hero_top }}
                    </div>
                  </div>
                </div>
              </div>
              {# EOF:hero-top__container #}
            </div>
          </div>
          {# EOF: hero-top #}
        </div>
      {% endif %}
      {% if mt_display_submitted %}
        <div class="node__submitted-date mt-style-custom-tl region--default-background">
          <div class="day">{{ node.createdtime|format_date('custom', 'd') }}</div>
          <div class="month-year">
            {{ node.createdtime|format_date('custom', 'M, ') }}
            {{ node.createdtime|format_date('custom', 'Y') }}
          </div>
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
